<nav id="sidebar" class="navbar bg-body-tertiary vh-100 flex-column justify-content-start">
    
</nav>
<div id="main">
    <nav class="navbar navbar-light bg-light justify-content-between px-5 py-1">
        <!-- <div class="container-fluid px-5 py-5"> -->        
            <a class="navbar-brand">Navbar</a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <button class="btn btn-dark" (click)="onLogout()">Logout</button>
        <!-- </div> -->


    </nav>

    <div class="mt-5 p-5">
        <router-outlet></router-outlet>
    </div>
</div>